extends ../shared/template
block content

  #visibility
    button#hide Hide Form
    button#show Show Form
  #controls

    form(method='post', action='/recipes')
      select(name='category')
        option breakfast
        option lunch
        option dinner
        option dessert
        option holiday meals
        option alcoholic beverages
        option snacks
      br
      input(name='name', type='text', placeholder='Chicken Marrakesh', autofocus=true)
      br
      input(name='img', type='text', placeholder='Image URL')
      br
      input(name='ingredients', type='text', placeholder='Chicken, Tomato, Onion')
      br
      br
      textarea(name='directions', placeholder='Directions:')
      button Add Recipe

    ul#categories
      li: a(href="#") breakfast
      li: a(href="#") lunch
      li: a(href="#") dinner
      li: a(href="#") dessert
      li: a(href="#") holiday meals
      li: a(href="#") alcoholic beverages
      li: a(href="#") snacks

  #recipes
      each recipe in recipes
        include recipe

block scripts

