extends ../shared/template
block content

  #controls
    #visibility
      button#hide Hide Form
      button#show Show Form

    form(method='post', action='/recipes')
      input(name='name', type='text', placeholder='Chicken Marrakesh', autofocus=true)
      br
      input(name='photo', type='text', placeholder='Image URL')
      br
      input(name='ingredients', type='text', placeholder='Chiken Breasts, Sweet Potatoes, Onion')
      br
      label Directions
      br
      textarea(name='directions')
      button Add Recipe

  .wrapper
      each recipe in recipes
        include recipe

block scripts

