extends ../shared/template
block content

  #visibility
    button#hide Hide Form
    button#show Show Form
  #controls

    form(method='post', action='/recipes')
      input(name='name', type='text', placeholder='Chicken Marrakesh', autofocus=true)
      br
      input(name='img', type='text', placeholder='Image URL')
      br
      input(name='ingredients', type='text', placeholder='Chicken, Tomato, Onion')
      br
      br
      textarea(name='directions', placeholder='Directions:')
      button Add Recipe

  #recipes
      each recipe in recipes
        include recipe

block scripts

