.deleteButton {
  background-color:#ffffff;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #dcdcdc;
  display:inline-block;
  cursor:pointer;
  color:#f50c2b;
  font-family:Verdana;
  font-size:15px;
  font-weight:bold;
  padding:6px 15px;
  text-decoration:none;
}
.deleteButton:hover {
  background-color:#f5edef;
}
.deleteButton:active {
  position:relative;
  top:1px;
}

